<div class="cont">
    <div class="izq"><h1>Misión</h1>
        En <span 
             style="white-space: nowrap; font-weight: bold;">
            Emprende Camino,</span>fomentamos iniciativas 
            emprendedoras para un impacto positivo en 
            comunidades. Conectamos personas y organizaciones 
            para favores significativos ciudad a ciudad. 
            Inspiramos proyectos que promueven crecimiento 
            económico, inclusión social y bienestar general, 
            creando tejido social fuerte y resiliente.
    </div>
    <div class="der">
        <h1>Visión</h1>
        Ser reconocidos como líderes en la promoción
        del espíritu emprendedor y la colaboración
        ciudadana, construyendo puentes de solidaridad
        entre comunidades de diferentes ciudades. Nuestra
        visión es crear un mundo donde la ayuda mutua y
        la cooperación sean los pilares fundamentales para
        el desarrollo y el bienestar de todas las personas,
        sin importar su ubicación geográfica.

    </div>

</div>