<!-- navbar -->
<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-white fs-4" href="">Emprende Camino</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <!-- <button class="nav-link text-white fs-5 " aria-current="page" href="#"  >Home</button> -->
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fs-5" href="">Inicio</a>
        </li>
        <!-- en esta parte se crean dos clases y en el css aparecen 
        sus configuraciones aqui es para esconder el servicio revisar css.header -->
        <div class=" servicio" [class.desactivado]="!servicioActivo">

          <li class="nav-item dropdown ">


            <a class="nav-link dropdown-toggle text-white fs-5  " href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Servicios
            </a>
            <ul class="dropdown-menu bg-primary text-white ">
              <li><a class="dropdown-item text-white" (click)="Pedido()">Tus peticiones</a></li>
              <li><a class="dropdown-item text-white" (click)="contacto()">contacto</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item text-white" (click)="cambiarvalor()">trabaja con nosotros</a></li>
            </ul>
          </li>
        </div>




        <li class="nav-item">
          <a class="nav-link disabled text-white fs-8" aria-disabled="true">Personal Administrativo</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button> -->
      </form>
    </div>
  </div>
</nav>