/* You can add global styles to this file, and also import other style files */


* {
    margin: 0;
    padding: 0;
    color: RGB(18, 32, 62);
    background-color: antiquewhite;
}


.contenedor>div,
.contenedor .header,
.contenedor .contenido,
.contenedor .slidebar,
.contenedor .pie {
    padding: 0px;
    border: solid  rgb(51, 153, 255);
    align-items: flex-start;
    border-radius: 10px;
}

.contenedor .header {   
    color: #fff;
    grid-area: header;
}

.contenedor .contenido {
    align-items: flex-start;
    height: 75vh;
    grid-area: contenido;
    opacity: 0.9;
    font-size: larger;
    box-shadow: 0 0 10px rgb(112, 128, 144), 0 0 20px rgb(112, 128, 144), 0 0 30px rgb(112, 128, 144);

}

.contenedor .slidebar {
    
    /* grid-column: 3/4; */
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 400px;
    grid-area: slidebar;
}

.contenedor .wid1,
.contenedor .wid2 {  
    width: 100%;  
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: transparent;
}

.contenedor .wid1 {
    grid-area: wid1;
    border: solid #12203E 1px;
    border-radius: 10px;
    height: 42%;
}

.contenedor .wid2 {
    grid-area: wid2;
    border: solid #12203E 1px;
    border-radius: 10px;
    height: 42%;


}

.contenedor .pie {
     background: #12203E;    
    grid-area: pie;
}
.contenedor .widgets{
    grid-area: widgets;
 

}

.contenedor {   
    width: 100%;
    max-width: 100%;   
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    /* Ajusta la altura de las filas en toda la página */
    grid-template-areas:
        "header    header  header"
        "contenido contenido slidebar"
        "contenido contenido slidebar"
        "widgets   widgets      slidebar"
        "widgets   widgets      slidebar"
        "widgets   widgets      slidebar"
        "pie       pie       pie";
}


@media screen and (min-width: 769px) and (max-width: 1424px) {
    .contenedor {        
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, auto);
        /* Ajusta la altura de las filas en toda la página */
        grid-template-areas: 
            "header    header  header"
            "contenido contenido slidebar"
            "contenido contenido slidebar"
            "contenido contenido slidebar"

            "widgets   widgets      slidebar"
            "widgets   widgets      slidebar"
            "widgets   widgets     slidebar"

            "pie       pie       pie";
    }
}

/* Media query solo para ajustar la altura en pantallas más pequeñas */
@media screen and (min-width: 320px) and (max-width: 769px){
    .contenedor {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, auto);
        /* Ajusta la altura de las filas en toda la página */
        grid-template-areas:
            "header     "
            "contenido  "
            "slidebar     "
            "slidebar     "
            "widgets            "
            "widgets         "
            "pie           ";
    }
}