<div class="relleno">
    <div class="contenedor">
        <header class="header">
            <!-- aqui recibimos la informacion mandada desde el hijo header
                 -->
            <app-header (enviarTrabajo)="recibirCambio($event)" (enviarPedido)="recibePedido($event)"
                (enviarContact)="recibeContacto($event)">
            </app-header>
            <!-- <app-header (enviarPedido)="recibePedido($event)"></app-header>
            <app-header (enviarContact)="recibeContacto($event)"></app-header> 
             -->

        </header>
        <div class="contenido">
            <!-- aqui miramos que variable es
            verdadera y segun eso activamos 
            el componente renderizamos(que se vea en la pantalla) -->

            @if (contacto) {
            <app-contactos />
            }@else if (pedido) {
            <app-pedidos></app-pedidos>
            }@else if (recibirTrue ) {
            <app-trabaja />

            }@else {
            <app-contenido />
            }
        </div>
        <div class="slidebar">
            <app-slidebar />
        </div>
        <div class="widgets">
            <div class="wid1">
                <app-widget />
            </div>
            <div class="wid2">
                <app-widget2 />
            </div>
            <div class="">
                <!-- se crea el boton y hace dos eventos un click abre 
                    contactos y onclick sube al comienzo de la pagina -->
                <button  class=" contactanosBtn scroll-to-top" (click)="contacto=true" onclick="window.scrollTo({ top: 0, behavior: 'smooth' })">
                     C<br>
                     o <br>
                     n <br>
                     t <br> 
                     a <br>
                     c <br> 
                     t <br> 
                     a <br> 
                     n <br> 
                     o <br> 
                     s <br> </button>
            </div>
        </div>
        <footer class="pie">
            <app-pie />
        </footer>
    </div>

</div>